$mercury-size: 2rem;
$mercury-orbit: 14rem;
$mercury-rotation-time: 2s;
$mercury-orbit-time: 10s;

$venus-size: 3rem;
$venus-orbit: 22rem;
$venus-rotation-time: 4s;
$venus-orbit-time: 20s;

$earth-size: 3.5rem;
$earth-orbit: 30rem;
$earth-rotation-time: 4s;
$earth-orbit-time: 30s;

$earth-suborbit: calc($earth-size * 1.7);
$moon-size: 1rem;
$moon-rotation-time: 2s;
$moon-orbit-time: 4s;

$mars-size: 4rem;
$mars-orbit: 40rem;
$mars-rotation-time: 5s;
$mars-orbit-time: 40s;

$jupiter-size: 6rem;
$jupiter-orbit: 52rem;
$jupiter-rotation-time: 2s;
$jupiter-orbit-time: 60s;

$saturn-size: 7rem;
$saturn-orbit: 68rem;
$saturn-rotation-time: 1.5s;
$saturn-orbit-time: 80s;

$uranus-size: 3.5rem;
$uranus-orbit: 80rem;
$uranus-rotation-time: 4s;
$uranus-orbit-time: 100s;
