.radio-input {
  display: none;
}

.panel {
  position: absolute;
  z-index: 1000;
  top: 5rem;
  left: 5rem;
  padding: 2rem;
  background-color: rgba($color: #fff, $alpha: 0.5);
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba($color: white, $alpha: 0.3);
  @include flex(column, center, center);

  &__radio-label {
    position: relative;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 400;
    cursor: pointer;
    @include flex(row, center, center);

    @include respond(tab-port) {
      font-size: 3rem;
    }
  }

  &__radio-button {
    height: 2rem;
    width: 2rem;
    border: 2px solid black;
    border-radius: 2px;
    display: inline-block;
    margin-right: 1rem;

    &::after {
      content: '';
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      top: 1rem;
      left: 1rem;
      transform: translate(-50%, -50%) scale(1, 1);
      clip-path: polygon(
        36% 55%,
        83% 17%,
        98% 39%,
        56% 70%,
        30% 89%,
        3% 53%,
        23% 36%
      );
      background-color: black;
      opacity: 0;
      transition: 0.5s;
    }
  }
}

.radio-input:checked + .panel .panel__radio-label .panel__radio-button::after {
  opacity: 1;
  animation: checked 0.5s ease-out;
}

/* .radio-input:checked + .panel {
  display: none;
} */
