.sun {
  z-index: 1000;
  position: relative;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  box-shadow: 0 0 5rem 1rem rgba(202, 126, 26, 0.7);
  background-image: radial-gradient(circle at center, #ffa500, #ff4500);
  background-position: center;
  animation: glow 2s ease-in-out infinite backwards;
  animation-direction: alternate;
  animation-play-state: paused;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    animation-play-state: running;
    scale: 1.2;
  }
}
