*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(normal-desktop) {
    font-size: 56.25%;
  }

  @include respond(tab-land) {
    font-size: 50%;
  }

  @include respond(tab-port) {
    font-size: 43.75%;
  }

  @include respond(phone) {
    font-size: 28%;
  }

  @include respond(mini-phone) {
    font-size: 20%;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}
